<!-- <!DOCTYPE html>
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
<html>
    <head>
        <meta charset="utf-8">
        
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="css/index.css">
        <title>Hello World</title>
    </head>
    <body>
        <div class="app">
            <h1>Apache Cordova</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div>
        <script src="cordova.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
--> 

<!DOCTYPE html>
<html>
<head>
    <title>test WebSocket</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/index.css">
   <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: http://localhost:8080 https://ssl.gstatic.com/ 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"> -->
   <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://<%=adresse%>:<%=port%> data: gap: https://ssl.gstatic.com/ 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
</head>
<body>
<div id="home">
    
    <div id="form">
        <table id="momo">
            <h2 id="test">CONNEXION</h2>
                <tr>
                    <td><input type="text" name="pseudo" placeholder="Pseudo..." id="toto" style="height: 25px; width: 200px"></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" placeholder="Mot de passe..." id="tata" style="height: 25px; width: 200px"></td> 
                </tr>
                <tr>
                     <td><select name="moto_color" id="moto_color">
                        <option value="">Choisir la couleur de votre moto</option>
                        <%if (!motosCouleurs.includes("blue")) { %>
                            <option value="blue">Bleue</option>
                        <% } %>
                        <%if (!motosCouleurs.includes("yellow")) { %>
                            <option value="yellow">Jaune</option>
                        <% } %>
                        <%if (!motosCouleurs.includes("white")) { %>
                            <option value="white">Blanche</option>
                        <% } %>
                        <%if (!motosCouleurs.includes("green")) { %>
                            <option value="green">Verte</option>
                        <% } %>
                    </select></td>
                </tr>
                <tr>
                    <td><button class="validate" id="coco" >Valider</button>  </td>
                </tr>
        </table>
    </div>
    

    <div id="insc">
        <button id="inscription">Inscription</button> 
    </div>

 
        <div id="form_insc">
                <h3>Inscrivez-vous en choisissant un pseudo et un mot de passe.</h3>
               
                <input id="inputNewPseudo" type="text" name="newPseudo" placeholder="Pseudo..." style="height: 25px; width: 200px">
                <br>
                <input type="password" id="inputNewPassword" name="Password" placeholder="Mot de passe..." style="height: 25px; width: 200px">
                <br>
                <br>
                <button class="validate" id="titi">Valider</button>
               <!-- <input id="titi" type="button" OnClick="javascript:window.location.reload()" value="VALIDER !"> -->
                <button id="return">Retour</button>
        </div>

</div>

<script src="js/index.js"></script>

</body>
</html>